ws-parent/ws-interface/src/main/webapp/wsdl/ibanfault.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://gsos.fnt.hu.nl/"
    targetNamespace="http://gsos.fnt.hu.nl/" 
    elementFormDefault="qualified">

    <element name="ibanFault">
        <complexType>
            <sequence>
                <element name="errorCode" type="short" nillable="false" />
                <element name="message" type="string" minOccurs="0" maxOccurs="1" />
            </sequence>
        </complexType>
    </element>
</schema>